@model KPITV.Models.UsersViewModels.UsersViewModel
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

<script src="~/js/users.js" asp-append-version="true"></script>

<h1>Users list</h1>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Moderator</th>
        <th>Editor</th>
        <th>Member</th>
        <th>Banned</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td><a href="@Url.Action("Index","Profile", new {profileLink = user.Key.ProfileLink })">@user.Key.FirstName @user.Key.LastName</a></td>
            @if (user.Value.Contains("Moderator"))
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="Moderator" checked /></td>
            }
            else
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="Moderator" /></td>
            }
            @if (user.Value.Contains("Editor"))
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="Editor" checked /></td>
            }
            else
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="Editor" /></td>
            }
            @if (user.Value.Contains("Member"))
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="Member" checked /></td>
            }
            else
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="Member" /></td>
            }
            @if (user.Value.Contains("User"))
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="User" /></td>
            }
            else
            {
                <td><input class="role-toggler" type="checkbox" id="@user.Key.UserName" name="User" checked /></td>
            }
        </tr>
    }
</table>